<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Beats_Music_logo.svg/1023px-Beats_Music_logo.svg.png" alt="logo" width="50" height="50">
      <a href="#" class="navbar-brand mx-auto">Spotify - KG</a>
      <div>
        <a href="/vista1/" class="navbar-brand mx-auto">Vista 1 Sesiones | </a>
        <a href="/vista2/" class="navbar-brand mx-auto">Vista 2 Reproducciones | </a>
        <a href="/vista3/" class="navbar-brand mx-auto"> Vista 3 Mix </a>
      </div>
    </nav>

    <h1> My Spotify - testing site!</h1>

    <img src="https://lyricmate.xyz/assets/svg/undraw_compose_music_ovo2.svg" alt="music-svg">
    


  </body>
</html>
